<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<ul>
  <li><a href="/index.erb">DOGGY DAYCARE</a></li>
  <li><a href="/owners.erb">OWNERS</a></li>
  <li><a href="/dogs.erb">DOGS</a></li>
</ul>

<body>



<main>
<%= yield %>
</main>

</body>
</html>