/* BODY */

body{
    /* background-color: lightblue; */
    background-image: url("http://www.hd-freewallpapers.com/latest-wallpapers/dog-bone-wallpaper-download.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    opacity: 50%;
    font-family: "Arial";
    text-align: center;
    color: gray;
    margin: 0;
    }
  
   /* TEXT */
  
  p { 
      text-align: center 
  }
  h2 { 
      text-align: center 
  }
  h3 { 
      text-align: center;
      padding-top: 50px;
      font-size: 50px;
  }
  
  div {
      border-radius: 5px;
      background-color: #f2f2f2;
      /* padding: 20px; */
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  /* NAV BAR */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lavender;
}

  /* GALLERY */
  
  #rcorners2 {
    border-radius: 25px;
    padding: 20px; 
    padding-top: 50px;
    width: 1000px;
    height: 250px;
    margin: auto;    
  }
  
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
  
  img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  
  /* HOME GALLERY */
  
  .flex-container-home {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-top: 50px;
  }
  
  .flex-container-home > div {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 10px;
  }
  
  /* TEXT */
  
  h1{
    font-size: 30px;
  }
  
  /* SLIDE IN */
  
  .wrapper {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 370px; 
    background: transparent;
    margin-left:auto;
    margin-right:auto;
  }
  
  #slide {
    position: absolute;
    left: -600px;
    width: 600px;
    height: 370px;
    background: transparent;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
  }
  
  @-webkit-keyframes slide {
    100% { 
      left: 0; 
    }
  }
  
  @keyframes slide {
    100% { 
      left: 0; 
    }
  }
  
  
  